body {
    background-color: black;
    color: white;
    font-family: fantasy;
    font-size: 14.5px;
    line-height: 1.6;
}
main {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: #fe001a;
    margin-bottom: 80px;
    font-size: 50px;
}
.intro {
    text-align: end;
}
.brand-name {
    color: #fe001a;
}
.inventore_Coca-Cola {
    color: #fe001a;
}
.inventore-nome {
    color: #fe001a;
}
h2 {
    color: #fe001a;
}
.button {
    background-color: #fe001a;
    color: white;
    border-color: white;
    border-radius: 25px;
    cursor: pointer;
    padding: 6px;
}
.img_1 {
    width: 470px;
}
.img_2 {
    width: 232px;
}
.img_3 {
    width: 300px;
}
footer {
    max-width: 800px;
    margin: 0 auto;
}
hr {
    border: dotted 1.5px #fe001a;
    max-width: 800px;
    margin: 0 auto;
}