body {
    background-color: black;
    color: white;
    font-family: fantasy;
    font-size: 14.5px;
}
.title {
    text-align: center;
    color: #fe001a;
}
.intro {
    text-align: end;
}
.brand-name {
    color: #fe001a;
}
.inventore_Coca-Cola {
    color: #fe001a;
}
.inventore-nome {
    color: #fe001a;
}
h2 {
    color: #fe001a;
}
.button {
    background-color: #fe001a;
    color: white;
    border-color: white;
    border-radius: 16px;
    cursor: pointer;
}
.img_2 {
    width: 292px;
}
.img_1 {
    width: 590px;
}
.img_3 {
    width: 360px;
}
hr {
    border: dotted 1.5px #fe001a;
}